@font-face {
    font-family: Font;
    src: url(Font.otf);
}

@font-face {
    font-family: NameFont;
    src: url(NameFont.ttf);
}

body {    
    font-family: Arial, sans-serif;
    background-color: hotpink;    
    margin: 0;
    padding: 0;    
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    background-position: center;  
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: hotpink;
    border-radius: 10px;
}

nav {
    font-family: Font;
    box-sizing: border-box;
    text-align: center;
    background-color: mediumpurple;
    padding: 0;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: pink
}

a:hover {
    color: purple;
    text-decoration: underline;
}

footer {
    background-color: hotpink;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

@media screen and (max-width: 600px) {
    nav {
        height: auto;
    }

    ul {
        display: block;
        text-align: center;
    }

    li {
        display: block;
        margin: 10px 0;
    }
}

